# Common files to ignore
*.swp
*.zip
*.cachefile
*.cache
*.ccgame
*.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# User files
*.user

# Build results
#[Dd]ebug/
#[Rr]elease/